body{
    color:red;
    background-color: blanchedalmond;
    display: block;
    margin: 50px 100px;
}
header{
    text-align: center;
    margin-bottom: 80px;
}
h1{color: cornsilk;
    font-size: 50px;
    

}
.black-border{
    border: 5px solid black;
    border-radius: 50px ;
    display: inline-flex;
}
#green-background{
    background-color: green;
    display: inline;
    padding: 10px;
}
.iets_groter{
    font-size: 40px;
}
ul{
    line-height: 2em;
}
.blue-background{
    background-color: blue;
    display: inline;
    padding: 10px 60px;
}